@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

*{
    margin: 0; /* deixando o TODO sem margem */
    padding: 0;
    font-family:  "Lora", serif;
    color:whitesmoke;
    
}

section{
    display: flex; /* vc ja sabe oq eh display flex ne kk */
    justify-content: center;
    align-items: center;
    
    width: 100%;
    background: url(img/gptigr.jpeg) no-repeat;  
    /*a combinaçao das duas propriedades abaixo vai fazer com que a imagem ocupe TOTALMENTE o elemento 'section'.*/
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* garantir que um elemento tenha, no mínimo, a altura total da viewport */
}

.form-box{
    position: relative;
    width: 450px;
    height: 450px;
    background: rgb(187, 193, 145, 0.925);
    /* border: 2px solid rgba(43, 42, 42, 0.5); */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 32px;
    text-align: center;
    color:whitesmoke ;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #d7c9bc;/* a listrinha divindo  */
}

.inputbox input:focus ~ label,/* Seleciona o <input> que está atualmente em foco. o-5px define que o elemento <label> será movido 5 pixels para cima em relação à sua posição normal. */
.inputbox input:valid ~ label{
    top: -5px; 
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    /* transform: translateY(-50%); */
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background:transparent;
    border: none;
    outline:none; /* qnd a pessoa tiver digitndo, nao vai ter linha ao redor */
    font-size: 15px;
    padding: 0 35px 0 5px;
    color: #fff;
}


button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background:  rgb(128, 145, 75, 0.724);   
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
    transition: 0.5s;
}
button:hover{
    background:#444f21;
}

/* Estilo para dispositivos móveis (tela menor que 768px) */
@media (max-width: 768px) {
    .form-box {
        width: 90%;
        height: auto;
        padding: 20px;
        margin:50px
    }

    h2 {
        font-size: 24px;
    }

    .inputbox {
        width: 100%;
    }

    .inputbox input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

/* Estilo para tablets (tela entre 768px e 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .form-box {
        width: 70%;
        height: auto;
        margin:50px;
        padding: 20px;
    }

    h2 {
        font-size: 28px;
    }

    .inputbox {
        width: 100%;
    }

    .inputbox input {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}