* {
    font-family: "Lora", serif;
  
    margin: 0;
    /*espaçamento externo */
    padding: 0;
    /*espaçamento interno */
    text-decoration: none;
    /*sem underline link */
    box-sizing: border-box;
    /*alterar a propriedade padrão da box model */
    outline: none;
    /*larg, estilo e cor do contorno */
  
  }
  
  body {
    background-color: #c8c9cb31;
  }
  
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  section,
  footer {
    padding: 55px 0;
    /* 55 up e down, 0 left right */
  }
  
  h3 {
    font-size: 50px;
    color: #535845
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  
  p {
    color: #0000009c;
  }
  table {
    width: 100%;
    border-collapse: collapse; /* Remove os espaços entre as células */
    }
    th, td {
    padding: 10px;
    text-align: left; 
    }
    th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    }

  .container-header {
    width: 100wh;
    /* larg max */
    margin: 0 auto;
    /* 0 pra up down Auto p left right */
    padding: 0 5%;
    background-color: rgb(236, 220, 198);
  }
  
  .container {
    max-width: 1400px;
    /* larg max */
    margin: 0 auto;
    /* 0 pra up down Auto p left right */
    padding: 0 5%;
  }
  
  .btn {
    /* icone do 'contato' */
    background-color: #bbc191;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    /* cursor do mouse como um "ponteiro" sobre x elemento. */
    display: inline-block;
    /* comportamento de inline block */
    transition: 0.3s;
    /* transiçao + suave do hover */
  }
  
  .btn:hover {
    background-color: #80914b;
  }
  
  header {
    background-position: center;
    /*  img no centro */
    background-size: cover;
    /* ocupa todo heitgh e width disponivel */
    background-attachment: fixed;
    /* fixada no fundo */
  
  }
  
  nav {
    display: flex;
    align-items: center;
    /* tds elementos no centro */
    justify-content: space-between;
    /* espaço elementos (conteudo da caixa) */
    padding-top: 30px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul a {
    /* mexendo nos links */
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    /* CAIXA ALTA */
    font-size: 14px;
    display: block;
    /* se comportar que nem elementos de bloco( a tag A tem display inline por padrao) */
  }
  
  nav ul a:not(.btn)::after {
    /*excluindo a classe btn desse comando*/
    /* efeito do tracinho azul aparecendo no link */
    content: "";
    /* nao precisa colocar nada em content nesse caso*/
    background-color: #c4cea1;
    height: 3px;
    width: 0%;
    /*define se a linha vai estar em 100% ou 0% da palavra*/
    display: block;
    transition: 0.3s;
  }
  
  nav ul a:hover::after {
    /*definindo que so quero o traço quando tiver hover*/
    width: 100%;
  }
  
  .banner {
    display: flex;
    justify-content: center;
  }
  
  .banner .banner-texto {
    margin: 35px;
    /* 'aumentou o espaço' */
    text-align: center;
    /* MUITO IMPORTANTE deixou o texto em si no centro */
    padding: 0 90px;
  }
  
  .banner .banner-texto h1 {
    font-size: 90px;
    color: #e8e8e8;
    font-weight: lighter;
  
  }
  
  .banner .banner-texto p {
    color: #0000009c;
    font-size: 20px;
    font-weight: lighter;
    /* ficar mais clarinho */
    margin: 18px 0;
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 6px;
  }
  
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  /* header */
  
  
  /* main 1 */
  /* main 1 */
  /* main 1 */
  /* main 1 */
  /* main 1 */
  /* main 1 */

.column-1{
    display: grid;
    grid-column: 1fr ;
    gap: 60px;
  }
  .column-2{
    display: grid;
    grid-column: 1fr ;
  }
  .zonas .container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 30px;
  }
  
  .zonas .zonas-text {
    width: 50%;
    /* 50/50 img e text */
    padding: 0 40px;
  }
  
  .zonas .zonas-text h3 {
    font-size: 55px;
    font-weight: lighter;
  
  }
  
  .zonas .zonas-text p {
    margin: 10px 0 50px 0;
    color: #0000009c;
  }


 /*<!-- tentativa de responsiividade -->*/

 /* Responsive Layout */
 @media all and (max-width: 768px) {
   /* Ajustes para telas menores que 768px */
  

   .zonas-text {
     text-align: center;
   }

   .column1, .column2 {
     width: 100%;
     margin-bottom: 20px;
   }

   table {
     width: 100%;
     border-collapse: collapse;
   }

   td {
     display: block;
     text-align: left;
     padding: 10px;
     border: 1px solid #ddd;
   }
 }

 /* Ajustes para telas menores que 480px */
 @media screen and (max-width: 480px) {
   .banner-texto h3 {
     font-size: 25px;
   }

   .banner-texto p {
     font-size: 5px;
   }

   .column1, .column2 {
     font-size: 30px;
   }

   td {
     font-size: 12px;
   }
 }
